<h1><%= @cart.name%></h1>
<h3 class="white-text" ><%=@cart.tag%></h3>
<% if @reviews.any? %>
<ul class="white-text">
  <% @reviews.each do |review| %>
    <li><%= review.food_name %></li>
      <ul>
        <li><%= review.price %></li>
        <li><%= review.rating %></li>
        <li><%= review.review %></li>
        <li><%= review.user.name %></li>
      </ul>
      <br>
  <% end %>
</ul>
<% else %>
<h3>No reviews yet, Add one!</h3>
<%end%>

<a class="btn btn-ghost" href = "/review/<%=@cart.id%>">Add a review!</a>
