<h1><%= @cart.name%></h1>
<img class="food-album" src="<%= @cart.pic %>">
<h3 class="white-text" ><%=@cart.tag%></h3>
<ul>
<% if @cart.hours %>
  <% eval(@cart.hours).each do |d| %>
    <li class="white-text"><%= d %></li>
  <% end %>
<% end %>
</ul>
<% if @reviews.any? %>
<ul class="white-text">
  <% @reviews.each do |review| %>
    <li><a href = "/review/view/<%=review.id%>"><%= review.food_name %></a></li>
    <li><%= review.price %></li>
      <br>
  <% end %>
</ul>
<% else %>
<h3>No reviews yet, Add one!</h3>
<%end%>

<a class="btn btn-ghost" href = "/review/<%=@cart.id%>">Add a review!</a>
