<h1>CART NAME</h1>
<h3><%=@cart.tag%></h3>
<% if @reviews.any? %>
<ul>
  <% @reviews.each do |review| %>
    <li><%= review.food_name %></li>
      <ul>
        <li><%= review.price %></li>
        <li><%= review.rating %></li>
        <li><%= review.review %></li>
      </ul>
  <% end %>
<% else %>
<h3>No reviews yet, Add one!</h3>
<%end%>

<a href = "/review/<%=@cart.id%>">Add a review!</a>
