<div class="row">
  <div class="col-md-6 justify-content-right">

      <h1>Featured Reviews:</h1>
      <% if @featured_reviews.any? %>
        <% @featured_reviews.each do |review| %>
          <div class="white-text">
            <h3><strong><%= review.cart.name %></strong></h3>
            <p><%= 'â­' * review.rating.to_i %></p>
          </div>
          <p><a class="btn btn-ghost" href="/cart/<%= review.cart.id %>">View Cart</a>
          <% end %>

    </div>
  <div class="col-md-6">
    <div class="white-text">
      <h1>Today's deals:</h1>
        <% @featured_reviews.each do |review| %>
        <h3> <a class="no-underline" href="/cart/<%= review.cart.id %>"><%= review.cart.name %></a></h3>
        <h3><%= review.price %> | <%= review.food_name %> </h3>
        <br>
        <% end %>
          <% end %>
      <h1>Map of our reviewed foodcarts:</h1>
  </div>
  </div>
</div>
