<div class="row">
  <div class="col-md-6 justify-content-right">

      <h1>Featured Reviews:</h1>
      <% if @featured_reviews.any? %>
        <% @featured_reviews.each do |review| %>
          <div class="white-text">
            <h3><strong><%= review.cart.name %></strong></h3>
            <p><%= ' ⭐' * review.rating.to_i %></p>
          </div>
          <p><a class="btn btn-ghost" href="/cart/<%= review.cart.id %>">View Cart</a>
          <% end %>

    </div>
  <div class="col-md-6">
    <div class="white-text">
      <h1>Today's deals:</h1>
        <% @featured_reviews.each do |review| %>
        <h3> <a class="no-underline" href="/cart/<%= review.cart.id %>"><%= review.cart.name %></a></h3>
        <h3><%= review.price %> | <%= review.food_name %> </h3>
        <br>
        <% end %>
          <% end %>
  </div>
  </div>
  <section class="white-text section-features js--section-features" id="features">
            <div class="row">
                <h2>PDX food carts &mdash; and more</h2>
                <p class="long-copy">
                    Portland has over 300 food carts and growing!!! with a
                    variety of diverse pods ranging from the Latin-inspired Mercado to the humble Tidbit pod and beyond, you can find food from just about every corner of the world represented in one of them here. Listed below are marks of such food carts and some of the perks they have to offer.
                </p>
            </div>

            <div class="row">
                <div class="col span-1-of-4 box">
                    <i class="ion-ios-infinite-outline icon-big"></i>
                    <h3>Up to 365 days</h3>
                    <p>
                        Never cook again! -no, really most carts are open 24/7 year round. Time to through your dishes away.
                    </p>
                </div>
                <div class="col span-1-of-4 box">
                    <i class="ion-ios-stopwatch-outline icon-big"></i>
                    <h3>Ready in 10 fast minutes</h3>
                    <p>
                         No time? no worries you're only a walk and 10 minutes away from enjoying a delicious meal from one of the many food carts portland has to offer in record time!!
                    </p>
                </div>
                <div class="col span-1-of-4 box">
                    <i class="ion-ios-nutrition-outline icon-big"></i>
                    <h3>100% vegan and vegeterian meals</h3>
                    <p>
                         Look no further! Portland food carts offers many delicious meals to the vegan and vegeterian community! We got chu!

                    </p>
                </div>
                <div class="col span-1-of-4 box">
                    <i class="ion-ios-cart-outline icon-big"></i>
                    <h3>Cheap Cheap</h3>
                    <p>
                        low in money? no worries :) portland has a varitity of cheap meals!! We know what is like to live the peasant life and food carts is the way to go when low on money.
                    </p>
                </div>
            </div>
        </section><br>

        <section class="section-meals">
            <ul class="meals-showcase">
                <li>
                    <figure class="meal-photo">
                        <img src="resources/img/1.jpg" alt="Korean bibimbap with egg and vegetables">
                    </figure>
                </li>
                <li>
                    <figure class="meal-photo">
                        <img src="resources/img/2.jpg" alt="Simple italian pizza with cherry tomatoes">
                    </figure>
                </li>
                <li>
                    <figure class="meal-photo">
                        <img src="resources/img/3.jpg" alt="Chicken breast steak with vegetables">
                    </figure>
                </li>
                <li>
                    <figure class="meal-photo">
                        <img src="resources/img/4.jpg" alt="Autumn pumpkin soup">
                    </figure>
                </li>
            </ul>
            <ul class="meals-showcase">
                <li>
                    <figure class="meal-photo">
                        <img src="resources/img/5.jpg" alt="Paleo beef steak with vegetables">
                    </figure>
                </li>
                <li>
                    <figure class="meal-photo">
                        <img src="resources/img/6.jpg" alt="Healthy baguette with egg and vegetables">
                    </figure>
                </li>
                <li>
                    <figure class="meal-photo">
                        <img src="resources/img/7.jpg" alt="Burger with cheddar and bacon">
                    </figure>
                </li>
                <li>
                    <figure class="meal-photo">
                        <img src="resources/img/8.jpg" alt="Granola with cherries and strawberries">
                    </figure>
                </li>
            </ul>
        </section><br><br>






  <h1>Map of our reviewed foodcarts:</h1><br>
  <script type="text/javascript">
  function initMap() {
    var portland = {lat: 45.5260673, lng: -122.6988032};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 12,
      center: portland
    });

  function addMarker(lat, lng) {
    var marker = new google.maps.Marker({
      position: new google.maps.LatLng(lat, lng),
      map: map
    });
  }
  <% @carts.each do |cart| %>
    addMarker(<%= cart.lat %>, <%= cart.lng %>);
  <% end %>
}
</script>
  <div id = "map" style ="width: 100%; height: 450px;">
    <script async defer src= "https://maps.googleapis.com/maps/api/js?key=AIzaSyAaN83hTHVzlAMvkBd4oc3NGFm4YQ-K71I&callback=initMap&addMarker"></script>
  </div>

</div>
