  <h1>Featured Reviews:</h1>
  <% if @featured_reviews.any? %>
    <% @featured_reviews.each do |review| %>
      <h3><%= review.cart.id %></h3>
      <p><%= review.rating %></p>
      <p><a href="/cart/<%= review.cart.id %>">View Cart Deats</a>
      <% end %>

    <h1>Today's deals:</h1>
      <% @featured_reviews.each do |review| %>
      <h3><%= review.cart.id %></h3>
      <h4><%= review.food_name %></h4>
      <p><%= review.price %></p>
      <% end %>
  <% end %>
    <h1>Map of our reviewed foodcarts:</h1>
